/* Base Colours */

:root {
    --color-evergreen: #2E4D3A;
    --color-light-evergreen: #819488;
    --color-dark-evergreen: #203528;
    --color-cedar: #5C331E;
    --color-light-cedar:#CCA38E;
    --color-dark-cedar: #3D1F0D;
    --color-fog: #BCC5C3;
    --color-ice: #E8F0F2;
    --color-moss: #7B8A65;
    --color-light-moss: #A4B18F;
    --color-dark-moss: #5A6A4F;
    --color-ocean: #436E83;
    --color-light-ocean: #8BA4B3;
    --color-dark-ocean: #2D4F5E;
    --color-salmon: #D88569;
    --color-sand: #FFF3E7;
    --color-ash: #33302E;
}

