/* Base Colours */

:root {
    --color-evergreen: #2E4D3A;
    --color-light-evergreen: #819488;
    --color-dark-evergreen: #203528;
    --color-cedar: #5C331E;
    --color-light-cedar:#CCA38E;
    --color-dark-cedar: #3D1F0D;
    --color-fog: #BCC5C3;
    --color-ice: #E8F0F2;
    --color-moss: #7B8A65;
    --color-light-moss: #A4B18F;
    --color-dark-moss: #5A6A4F;
    --color-ocean: #436E83;
    --color-light-ocean: #8BA4B3;
    --color-dark-ocean: #2D4F5E;
    --color-salmon: #D88569;
    --color-sand: #FFF3E7;
    --color-ash: #33302E;
}

/* Typography */

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-ash);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gabarito', sans-serif;
    margin: .5em 0;
    font-size: 1.5rem;
    font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin: 1.5em 0;
}

/* Elements */

main {
    max-width: 120rem;
}

/* Links */

a,
a:visited {
    color: var(--color-ocean);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--color-dark-ocean);
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted var(--color-ocean); 
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-ocean);
}

.nav-logo img {
    width: 200px;
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul,
.nav-menu li,
.nav-menu a {
    display: flexbox;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: .5rem;
    background-color: var(--color-ocean);
    color: var(--color-ice);
    font-weight: 500;
}

.nav-menu svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-ice);
}

/* Header */
header {
    display: block;
    height: 100vh;
}   

.header-container video {
    width: fit-content;
    height: 100vh;
    object-fit: cover;
}

/* Quote Section */
.quote-block {
    display: block;
    height: auto;
    width: 100%;
    background-color: var(--color-light-ocean);
    text-align: center;
}

.quote {
    margin: 0 auto;
    padding: 2rem;
}

.quote h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.quote h3 {
    font-size: 1rem;
    font-weight: 500;
}

.quote span {
    font-style: italic;
}

/* Local Love Section */

.local-love-block {
    display: block;
    height: auto;
    width: 100%;
    background-color: var(--color-sand);
    padding: 2rem 1rem;
}

.local-love-block h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.love-card {
    border: var(--color-moss) 3px solid;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: var(--color-moss) -4px 4px 2px;
}