/* Base Colours */

:root {
    --color-evergreen: #2E4D3A;
    --color-light-evergreen: #819488;
    --color-dark-evergreen: #203528;
    --color-cedar: #5C331E;
    --color-light-cedar:#CCA38E;
    --color-dark-cedar: #3D1F0D;
    --color-fog: #BCC5C3;
    --color-ice: #E8F0F2;
    --color-moss: #7B8A65;
    --color-light-moss: #A4B18F;
    --color-dark-moss: #5A6A4F;
    --color-ocean: #436E83;
    --color-light-ocean: #8BA4B3;
    --color-dark-ocean: #2D4F5E;
    --color-salmon: #D88569;
    --color-sand: #FFF3E7;
    --color-ash: #33302E;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-ash);
    background-color: var(--color-light-ocean);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gabarito', sans-serif;
    margin: .5em 0;
    font-size: 1.5rem;
    font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	margin: 1.5em 0;
}

/* Elements */

main {
    max-width: 200rem;
    display: flex;
}

table, th, td {
    border: 1px solid var(--color-ice);
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: var(--color-sand);
}

tr:hover {
    background-color: var(--color-light-moss);
}

/* Links */

a,
a:visited {
    color: var(--color-light-ocean);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: var(--color-ice);
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted var(--color-fog); 
}

/* Navigation */
nav {
    display: block;
    background-color: var(--color-dark-ocean);
}

.nav-container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-logo {
    float: left;
}

.nav-logo img {
    width: 200px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-items: center;
}

.nav-menu {
    float: right;
    padding-right: 1rem;
}

.nav-menu-links {
    gap: 1rem;
    max-width: 100%;
}
.nav-menu ul,
.nav-menu li,
.nav-menu a {
    display: flex;
    list-style: none;
    color: var(--color-ice);
    font-weight: 500;
}

/* Header */
header {
    display: block;
    height: 100vh;
    z-index: 1;
}   

.header-container video {
    width: fit-content;
    height: 100vh;
    object-fit: cover;
}

/* For Header on Interior Pages */

.header-container img {
    object-fit: cover;
    display: block;
    height: 100vh;
    width: auto;
}

/* Quote Section */
.quote-block {
    display: inline-block;
    width: 100%;
    background-color: var(--color-light-ocean);
    text-align: center;
}

.quote {
    margin: 0 auto;
    padding: 2rem;
}

.quote h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.quote h3 {
    font-size: 1rem;
    font-weight: 500;
}

span {
    font-style: italic;
}

@media (min-width: 44em) {
    .quote {
        max-width: 50%;
    }
}

/* Local Love Section */

.local-love-block {
    display: block;
    height: auto;
    width: 100%;
    background-color: var(--color-sand);
    padding: 2rem 1rem;
}

.local-love-block h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.love-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 1.5rem;
}

.love-card {
    border: var(--color-light-moss) 5px solid;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: var(--color-moss) -4px 4px 3px;
    background-color: var(--color-light-moss);
}

.love-card img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.love-card h3,
.love-card p {
    padding: 0 .5rem;
}

.local-love-block .button,
.map-text-right .button {
    display: block;
    color: var(--color-ice);
    text-decoration: none;
    font-weight: 600;
    background-color: var(--color-evergreen);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: max-content;
}

.love-card .button {
    margin-bottom: 1rem;
}

@media (min-width: 60.6em) {
    .love-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        position: relative;
    }

    .love-card {
        max-width: 450px;
    }

    .love-card img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .love-card .button {
        
    }
}

/* Map section */

.map-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.map-image-left {
    display: flex;
    background-color: var(--color-moss);
    width: 100%;
    padding: 2rem;
    justify-content: center;
}

.map-text-right {
    background-color: var(--color-light-moss);
    padding: 2rem;
}

@media (min-width: 60.6em) {
    .map-block {
        display: flex;
        height: fit-content;
    }

    .map-image-left {
        width: 50%;
    }

    .map-image-left img {
        width: 100%;
        height: 100%;
        max-width: 500px;
        object-fit: cover;
    }

    .map-text-right {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .map-text-right p {
        padding-right: 4rem;
    }

    .map-text-right .button {
        margin-top: 10%;
    }
}

/* Stats section */

.stats-block {
    background-color: var(--color-dark-ocean);
    padding: 2rem 1rem;
    color: var(--color-ice);
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.stat {
    display: flexbox;
    flex-basis: 100%;
    max-width: 100px;
    max-height: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: .25rem;
    margin: 1rem 2rem;
}

.stat:last-of-type {
    height: fit-content;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.stat svg {
    fill: var(--color-ice);

}

.stat h3 {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
}

.stat p {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0;
}

/* Gallery Section */

.gallery-block {
    background-color: var(--color-light-ocean);
    padding: 1rem 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    ;
    grid-template-columns: repeat(100px);
    background-color: var(--color-light-ocean);
    row-gap: .5rem;
    column-gap: .5rem;
    padding-bottom: 2rem;
}

.gallery-image {
    object-fit: cover;
}

.gallery-image:hover {
    filter:grayscale(100%);
}

.gallery-image > img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    object-fit: cover;
}

.one {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.two {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.three {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.four {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}

.five {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

@media (min-width: 60.6em) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }

    .gallery-image {
        object-fit: cover;
    }

    .gallery-image > img {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
        object-fit: cover;
    }

    .one {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }

    .two {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .three {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }

    .four {
        grid-column: 5 / 7;
        grid-row: 1 / 4;
    }

    .five {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
}

@media (min-width: 80em) {
    .gallery {
        display: grid;
        padding-left: 4rem;
        padding-right: 4rem;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .gallery-image {
        object-fit: cover;
    }

    .gallery-image > img {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
        object-fit: cover;
    }

    .one {
        grid-column: 3 / 6;
        grid-row: 1 / 3;
    }

    .two {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .three {
        grid-column: 6 / 9;
        grid-row: 2 / 3;
    }

    .four {
        grid-column: 6 / 9;
        grid-row: 1 / 2;
    }

    .five {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media (min-width: 96em) {
    .gallery {
        display: grid;
        padding-left: 4rem;
        padding-right: 4rem;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: .5rem;
    }

    .gallery-image {
        object-fit: cover;
    }

    .gallery-image > img {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
        object-fit: cover;
    }

    .one {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .two {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .three {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }

    .four {
        grid-column: 6 / 9;
        grid-row: 1 / 2;
    }

    .five {
        grid-column: 9 / 11;
        grid-row: 1 / 2;
    }
}

/* Main --- Interior Page Title Block */
.Title-block {
    background-color: var(--color-light-ocean);
    padding: 1rem 1rem;
    text-align: center;
}

/* Credits Page */

.credits-block {
    background-color: var(--color-light-ocean);
    padding: 1rem 1rem;
}


/* Return to Top Section */

.return-top {
    display: block;
    background-color: var(--color-dark-ocean);
    text-align: center;
    padding: 1rem;
}

.return-top svg {
    fill: var(--color-ice);
}

@media (min-width: 60.6em) {
    .return-top {
        position: fixed;
        background-color: transparent;
        z-index: 900;
    }

    .return-top svg {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        fill: var(--color-ice);
        opacity: 70%;
        height: 45px;
        width: 45px;
    }
}


/* Footer */

.footer-container {
    background-color: var(--color-ash);
    color: var(--color-ice);
    text-align: center;
    padding: 2rem 0;
}

.footer-logo img {
    max-width: 250px;
    height: auto;
    padding: 0 auto;
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-social svg {
    fill: var(--color-ice);
}

.footer-social li {
    display: inline-block;
    padding-right: .5rem;
}

@media (min-width: 60.6em) {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 5rem;
    }

    .footer-logo img {
        max-width: 250px;
        height: auto;
        padding: 0 auto;
    }

    .footer-container ul {
        list-style: none;
        padding: 0;
    }

    .footer-social svg {
        fill: var(--color-ice);
        width: 2rem;
        height: 2rem;
    }

    .footer-social li {
        display: inline-block;
        padding-right: 1rem;
    }
}